.delete-container-id{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: black;
}
.nested-delete-container{
    border: 1.5px solid green;
    box-shadow: rgba(0, 221, 255, 0.25) 0px 50px 100px -20px, rgba(0, 236, 217, 0.3) 0px 30px 60px -30px, rgba(4, 180, 255, 0.35) 0px -2px 6px 0px inset;
   border-radius: 20px;
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nested-delete-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nested-delete-container form label input{
    background-color: black;
    border: 2px solid red;
    color: white;
}
.success{
    color: green;
    margin-top: 20px;
}
.failure{
    color :red;
    margin-top: 20px;
}
