.Admin-container{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.getalluser{
    border: 2px solid green;
    height: 200px;
    width: 300px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgb(2, 162, 248) 0px 20px 30px -10px;
    cursor: pointer;

}
.getalluser h1{
    text-align: center;
    color: aqua;
   
}
